.marquee-background {
    background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    z-index: -1;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.marquee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    min-height: 100vh;
    color: #ffffff;
}

.marquee-content {
    margin-top: calc(9em);
    width: 100%;
    max-width: 1440px;
    width: available;
}

.heading-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.headline {
    font-size: calc(3em);
    font-weight: bold;
}

.subhead {
    line-height: 1.625rem;
}
