.marquee-background {
    background-image: url('../../assets/img/slide_one.jpg');
    background-size: cover;
    /* height: 100vh; */
    min-height: 100vh;
    position: relative;
    z-index: -1;
}
.marquee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    min-height: 100vh;
    color: white;
}

.marquee-content {
    width: 100%;
    max-width: 1440px;
    width: available;
}

.heading-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.headline {
    font-size: 5rem;
}
