.navbar {
    position: relative;
    z-index: 1;
    height: 12rem;
    margin: 0 auto -12rem auto;
    max-width: 1440px;
}

.menu-wrapper {
    display: flex;
    justify-content: flex-start;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    color: #ffffff;
    font-weight: bold;
}

.menu img:hover {
    cursor: pointer;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 0.75rem;
}

.menu-items a {
    color: #ffffff;
    text-decoration: none;
    padding-top: 0.75rem;
    transition: 0.2s ease-in-out;
}

.menu-items a:hover {
    color: #ffc004;
    cursor: pointer;
}

.contact-wrapper {
    display: flex;
    justify-content: flex-end;
}